/* Specificity is the same as priority */
/* inline style has specificity number of 1,0,0,0 */
/* class has a specificity number of 0,0,1,0 */
.pLorem{
    background-color: darkgray;
    color: red;
}
.pLorem{
    color: darkcyan;
    font-weight: bold;
}
/* id has a specificity number of 0,1,0,0 */
/* #firstP {
    color: darkgoldenrod;
} */
/* Element has a specificity number of 0,0,0,1*/
p{
    color: green;
}
/* To override your specificity make use of !important */